/* BODY*/
* {
    margin     : 0;
    padding    : 0;
}
html {
    height: 100%;
    width : 100%;
}
body {
    height     : 100%;
    width      : 100%;
    overflow-y: hidden;
}

/* Scroll Bar Show */
.c-div-scroll-hover {
  overflow-y: hidden !important;
}
.c-div-scroll-hover:hover {
  overflow-y: auto !important;
}

/* Materialize Tabs*/
ul.tabs {
  overflow: hidden;
}

/* Login Page */
.c-login-bg {
    background-image: url("../images/matrix.jpg") !important;
    background-color: #cccccc !important;
}

/* Nav Bar*/
.nav-wrapper ul li a {
  display: block !important;
}

/* Main Layout */
.c-ticker-div {
  background-color: #FFF !important;
  top: 64px !important;
  bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  position: fixed !important;
}

.c-content-div {
  margin-left: 16.667% !important;
  margin-right: 16.667% !important;
  top: 64px !important;
  bottom: 0 !important;
  position: fixed !important;
}

.c-notification-div {
  background-color: #FFF !important;
  top: 64px !important;
  bottom: 0 !important;
  right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  position: fixed !important;
}

/* Common */
.c-padding-bottom-10 {
  padding-bottom: 10px !important;
}

.c-padding-top-10 {
  padding-top: 10px !important;
}

.c-no-pointer {
  cursor: text !important;
}
.c-form {
  padding-top 10px  !important;
  padding-bottom: 10px !important;
}
.c-form .input-field {
  margin-top: 0 !important;
}
