/* BODY*/
* {
    margin     : 0;
    padding    : 0;
}
html {
    height: 100%;
    width : 100%;
}
body {
    height     : 100%;
    width      : 100%;
    overflow-y: hidden;
}

/* Scroll Bar Show */
.c-div-scroll-hover {
  overflow-y: hidden !important;
}
.c-div-scroll-hover:hover {
  overflow-y: auto !important;
}

/* Materialize Tabs*/
ul.tabs {
  overflow: hidden;
}

/* Login Page */
.c-login-bg {
    background-image: url("../images/matrix.jpg") !important;
    background-color: #cccccc !important;
}

/* Nav Bar*/
.nav-wrapper ul li a {
  display: block !important;
}

/* Main Layout */
.c-ticker-div {
  background-color: #FFF !important;
  top: 64px !important;
  bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  position: fixed !important;
}

.c-content-div {
  margin-left: 16.667% !important;
  margin-right: 16.667% !important;
  top: 64px !important;
  bottom: 0 !important;
  position: fixed !important;
}

.c-notification-div {
  background-color: #FFF !important;
  top: 64px !important;
  bottom: 0 !important;
  right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  position: fixed !important;
}

/* Common */
.c-padding-bottom-10 {
  padding-bottom: 10px !important;
}

.c-padding-top-10 {
  padding-top: 10px !important;
}

.c-padding-top-20 {
  padding-top: 20px !important;
}

.c-no-pointer {
  cursor: text !important;
}
.c-form {
  padding-top 10px  !important;
  padding-bottom: 10px !important;
}
.c-form .input-field {
  margin-top: 0 !important;
}

/* Data Tables */

.dataTables_filter {
  display: none;
}
.dataTables_wrapper > div:first-child{
  display: none;
}
.search-wrapper {
	transition: margin .25s ease;
	margin-right: 28px;
	margin-top: 8px;
}

.search-wrapper input#search {
	display: block;
	font-size: 16px;
	font-weight: 300;
	width: 100%;
	height: 45px;
	margin: 0;
	border: 0;
}

.search-wrapper i.material-icons {
	position: absolute;
	top: 20px;
	right: 10px;
	cursor: pointer;
}

.search-wrapper input#search:focus {
	outline: none;
	box-shadow: none;
}

/* User List Avatar Size */
.c-avatar-list-size {
  height: 64px;
  width: 64px;
}

.mdl-button--raised {
  background-color: #D32F2F !important;
}
