<!DOCTYPE html>
<head>
  <title> { BC } </title>
  <link rel="stylesheet" href="/static/css/style.css" type="text/css">
  <link rel="stylesheet" href="/static/css/materialize.min.css" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
</head>
<body class="c-notfound-bg">
  <!-- JavaScript Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/static/js/materialize.min.js"></script>
  <script>
$(document).ready(function (){
  toastMessage = "You have entered the virtual world, redirecting to the real world."
  Materialize.toast(toastMessage, 6000) // 4000 is the duration of the toast
  window.setTimeout(function() {
    location.href = "/";
  }, 6000);
});
  </script>
</body>
</html>
