{{ define "content" }}
<div class="row">
  <div class="col s12 card  s12 c-padding-top-10 c-padding-bottom-10">
    <h5>Payslip Request for {{.payslip.Requestor.FirstName}} {{.payslip.Requestor.LastName}}</h5>
    <h6 class="date-to-trim">Date : {{.payslip.Month}}</h6>
    <h6>Amount: {{.payslip.Amount}}</h6>
    <div class="col s6">
      <form class="c-form" action="" method="post">
        <div class="input-field col s12">
          <input id="salary" name="GrossAnnualSalary" type="number" class="validate" required>
          <label class="active" for="salary">Gross Annual Salary</label>
        </div>
        <div class="input-field col s12">
          <input id="tds" name="Tds" type="number" class="validate" required>
          <label class="active" for="tds">TDS</label>
        </div>
        <div class="input-field col s12">
          <input class="btn red" type="submit" value="Save" />
        </div>
      </form>
    </div>
  </div>
</div>
{{ end }}
{{ define "script" }}
<script>
$(document).ready(function () {
  $("#title-text").text("Payslip Approvals");
    $('.date-to-trim').each(function () {
    $(this).html($(this).text().substring($(this).text(), 14));
  });
});
</script>
{{ end }}
