<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/static/css/style.css" type="text/css">
  <link rel="stylesheet" href="/static/css/materialize.min.css" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>
<body>
  <nav>
    <div class="nav-wrapper blue darken-2">
      <a href="#" class="brand-logo"> {BC}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">...</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <ul id="slide-out" class="side-nav">
      <li><div class="userView">
          <div class="background">
            <img src="images/office.jpg">
          </div>
          <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
          <a href="#!name"><span class="white-text name">John Doe</span></a>
          <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div></li>
        <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
        <li><a href="#!">Second Link</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>
    <div class="row">
      <div class="col s2">
        {{ template "ticker" }}
      </div>
      <div class="col s8">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        {{ template "content" .}}
      </div>
      <div class="col s2">
        {{ template "notifications" }}
      </div>
    </div>
  </div>
  <!-- JavaScript Libraries -->
  {{ template "script" }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/static/js/materialize.min.js"></script>
  <script>
$(document).ready(function (){
  {{ if .message }}
  Materialize.toast('I am a toast!', 4000) // 4000 is the duration of the toast
  {{ end }}
  // Initialize collapse button
  $(".button-collapse").sideNav();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  //$('.collapsible').collapsible();
  // get url query params
  function getParameterByName(name, url) {
    if (!url) {
      url = window.location.href;
    }
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
      results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }
  var message = getParameterByName('m');
  if (message != '') {
    Materialize.toast(message);
  }
});
  </script>
</body>
</html>
