{{ define "content" }}
<div id="profile">
  <div class="profile-image">
    <img class="circle" src="data:image/jpg;base64,{{.user.Avatar}}"></a>
  </div>
  <div class="profile-name">
    <a href="/profile/view/{{.user.UserID}}/" class="waves-effect waves-light btn btn-edit-profile">view profile</a>
    <h4>
      {{.user.FirstName}} {{.user.LastName}}
    </h4>
    <p>
      {{.user.Email}}
    </p>
  </div>
  <form class="c-form" action="" method="post">
    <div class="col s6">
      <div class="input-field col s12">
        <input value="{{ if .profile.Mobile}}{{.profile.Mobile}}{{ else}}{{ end }}" id="mobile" name="Mobile" type="number" class="validate" required>
        <label class="active" for="mobile">Mobile + 91</label>
      </div>
      <div class="input-field col s12">
        <input value="{{ if .profile.Age}}{{.profile.Age}}{{ else}}{{ end }}" id="age" name="Age" type="number" class="validate" required>
        <label class="active" for="age">Age</label>
      </div>
      <div class="input-field col s12">
        <input value="{{ if .profile.BloodGroup}}{{.profile.BloodGroup}}{{ else}}{{ end }}" id="bloodgroup" name="BloodGroup" type="text" class="validate" required>
        <label class="active" for="bloodgroup">Blood Group</label>
      </div>
      <div class="input-field col s12">
        <input value="{{ if .profile.TagLine}}{{.profile.TagLine}}{{ else}}{{ end }}" id="tagline" name="TagLine" type="text" class="validate" required>
        <label class="active" for="tagline">Tagline</label>
      </div>
    </div>
    <div class="col s6">
      <div class="input-field col s12">
        <input value="{{ if .profile.SlackName}}{{.profile.SlackName}}{{ else}}{{ end }}" id="slack" name="SlackName" type="text" class="validate" required>
        <label class="active" for="slack">Slack Name</label>
      </div>
      <div class="input-field col s12">
        <input value="{{ if .profile.GitHub}}{{.profile.GitHub}}{{ else}}{{ end }}" id="github" name="GitHub" type="text" class="validate" required>
        <label class="active" for="github">GitHub https://github.com/</label>
      </div>
      <div class="input-field col s12">
        <input value="{{ if .profile.Address}}{{.profile.Address}}{{ else}}{{ end }}" id="address" name="Address" type="text" class="validate" required>
        <label class="active" for="address">Address</label>
      </div>
    </div>
    <div class="input-field col s12">
      <input class="btn red darken-2" type="submit" value="Save" />
    </div>
  </form>
</div>

{{ end }}
{{ define "script" }}
<script>
$(document).ready(function (){
  // setting nav bar heading
  $("#title-text").text(" Profile ");
});
</script>
{{ end }}
