<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/static/css/style.css" type="text/css">
  <link rel="stylesheet" href="/static/css/material.min.custom.css" type="text/css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body class="login-bg">
  <div class="mdl-layout">
    <main class="mdl-layout__content">
      <div class="white-text mdl-typography--text-center page-content">
        <h1 class="white-text"> { BC Intranet }</h1>
        <div class="mdl-grid" style="margin-top:200px;">
          <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="/auth/gplus">
              Login
            </a>
          </div>
        </div>
      </div>
    </main>
  </div>
  <!-- JavaScript Libraries -->
  <script src="/static/js/material.min.js"></script>
</body>
</html>
