{{ define "content" }}
<div id="profile">
  <div class="profile-image">
    <img class="circle" src="data:image/jpg;base64,{{.user.Avatar}}"></a>
  </div>
  <div class="profile-name">
    <a href="/profile/edit/" class="waves-effect waves-light btn btn-edit-profile">edit profile</a>
    <h4>
      {{.user.FirstName}} {{.user.LastName}}
    </h4>
    <p>
      {{.user.Email}}
    </p>
  </div>
  <div class="col s6">
    <div class="profile-about">
      <label><i class="fa fa-phone" aria-hidden="true"></i> Personal Contact</label>
      <p> +91 {{.profile.Mobile}}</p>
    </div>
    <div class="profile-about">
      <label><i class="fa fa-birthday-cake" aria-hidden="true"></i></i> Birthday</label>
      <p> {{.profile.Age}}</p>
    </div>
    <div class="profile-about">
      <label>Blood Group</label>
      <p> {{.profile.BloodGroup}}</p>
    </div>
    <div class="profile-about">
      <label>TagLine</label>
      <p>{{.profile.TagLine}}</p>
    </div>
  </div>
  <div class="col s6">
    <div class="profile-about">
      <label><i class="fa fa-slack" aria-hidden="true"></i> Slack Name</label>
      <p class="slackname">@{{.profile.SlackName}}</p>
    </div>
    <div class="profile-about">
      <label><i class="fa fa-github" aria-hidden="true"></i> Github</label>
      <p><a target="_blank" href="https://github.com/{{.profile.GitHub}}">{{.profile.GitHub}}</a></p>
    </div>
    <div class="profile-about">
      <label><i class="fa fa-address-card-o" aria-hidden="true"></i>Address</label>
      <p>{{.profile.Address}}</p>
    </div>
  </div>

</div>

{{ end }}
{{ define "script" }}
<script>
$(document).ready(function (){
  // setting nav bar heading
  $('#title-text').text('Profile');
});
</script>
{{ end }}
